<!DOCTYPE html>
<html>
<head>
  <title>SurveyCreator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
	<body>
		<header>
				<nav>
					<ul class="no-list row center-xs middle-xs">
						<li class="col-md"><h1 id="logo" class="no-margin">TecShop!</h1></li>
						<li class="col-md"><%= link_to "Home", root_path%></li>
						<li class="col-md"><%= link_to "Surveys", surveys_path%></li> 
					<% if user_signed_in? %>
						<li class="col-md"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
						<li class="col-md"><%= link_to "Create Survey", surveys_new_path%></li>
					<%else%>
						<li class="col-md"><%= link_to "Log in", new_user_session_path%></li>
						<li class="col-md"><%= link_to "Create Account", new_user_registration_path%></li>
					<%end%>
					</ul>
				</nav> 

		</header>
		<%= yield %>

	</body>
</html>
