<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Survey Creator!">
    <meta name="authors" content="Emmanuel, Miuyin y Ernesto">
    <title>Survey Creator</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
				<li class="col-md"><%= link_to "Home", root_path%></li>
				<li class="col-md"><%= link_to "Answer Surveys", published_surveys_path %></li> 
			<% if user_signed_in? %>
				<li class="col-md"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
				<li class="col-md"><%= link_to "Create Survey", surveys_new_path%></li>
				<li class="col-md"><%=  link_to "Edit your unpublished surveys", surveys_path%></li>
			<%else%>
				<li class="col-md"><%= link_to "Log in", new_user_session_path%></li>
				<li class="col-md"><%= link_to "Create Account", new_user_registration_path%></li>
			<%end%>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills">
                             <li role="presentation" class="active"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a></li>
                        </ul>
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
    
    </div>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
