<% @counter = 0 %>
<%= form_for [@result.survey,@result] do |f| %>
  <%=f.hidden_field :survey_id, value: @result.survey.id %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.fields_for :answers do |answer| %>
      <label><%= @survey.questions[@counter].question_content %></label>
      <%= answer.hidden_field :question_id, value: @survey.questions[@counter].id %>
      <%= answer.select :answer_content, options_for_select(["Very Good", "Good", "Average", "Bad", "Very Bad"]) %>
      <% @counter = @counter + 1 %>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
