<p id="notice"><%= notice %></p>

<h1>Results for <%= Survey.find_by_id(@results[0].survey_id).name %></h1>

<table>
  <thead>
    <tr>
      <th>Date Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
      <td><%= result.created_at%>
      <td><%= link_to 'Show', survey_result_path(@survey,result) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', published_surveys_path %>
