<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <td>Question</td>
      <td></td>
      <td>Answer</td>
      <td></td>
      <td></td>
    </tr> 

    <% @survey.questions.zip(@result.answers) do |ans, ans1| %>
    	<tr>
          <td><%= ans.question_content %></td> 
          <td></td>  
          <td><%= ans1.answer_content %></td>
      </tr>
    <% end %>

  </tbody>
</table>


<h1>You done! The <%= @survey.name %> Survey</h1>
<%= link_to 'Back', survey_results_path %>

