<p id="notice"><%= notice %></p>

<p>
  <strong>Survey:</strong>
  <%= @result.survey %>
</p>

<p>
  <strong>Index:</strong>
  <%= @result.index %>
</p>

<p>
  <strong>New:</strong>
  <%= @result.new %>
</p>

<p>
  <strong>Create:</strong>
  <%= @result.create %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
