<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>

<ol>
	<% for question in @survey.questions %>
		<li><%= question.question_content %></li>
	<% end %>
</ol>
	<%= link_to 'Edit', edit_survey_path(@survey) %> 
	<%= link_to 'Show', survey_path(@survey) %>

<%= link_to 'Back', surveys_path %>

