<%= form_for([@response.survey, @response]) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% for question in @survey.questions %>
      <label><%= question.question_content %></label>
      <%= select_tag :answer_content, options_for_select(["Very Good", "Good", "Average", "Bad", "Very Bad"]) %>
      <%= hidden_field_tag :question_id, question.id %>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
